# Large data files
data/
scMINER_pipeline/DATA/
scMINER_pipeline/MICA/

# Jupyter checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# R files
.Rhistory
*.RData

# Large data files
*.h5ad
*.pkl
*.txt
scMINER_pipeline/MICA_INPUT/
scMINER_pipeline/MICA_OUTPUT/
scMINER_pipeline/RESULTS/
CellTypist_pipeline/notebooks/Staph_Aureus_BF_P_Model.pkl
