.Rproj.user .Rhistory .RData .Ruserdata *.h5ad *.pdf *.sh.2 *.docx 
Miniconda3-latest-Linux-x86_64.sh.2 .ipynb_checkpoints/ 
celltypist_demo_folder/
c:\Users\natha\OneDrive\Bio-informatica 25-26'\International Internship\CellTypist\Raw_data
*.h5ad
